.archives-wrap
  margin: block-margin 0

.archives-wrap
  .widget-wrap
    .widget-title
      text-decoration: none
      text-transform: uppercase
      letter-spacing: 2px
      color: #999
      margin-bottom: 1em
      margin-left: 5px
      line-height: 1em
      text-shadow: 0 1px #fff
      font-weight: bold
    .tag-list-item
      display: inline-block
      margin-right: 20px
      padding: 5px
    .tag-list-link
      text-decoration: none
      font-weight: bold
      color: #555
      -webkit-transition: color 0.2s
      -moz-transition: color 0.2s
      -ms-transition: color 0.2s
      transition: color 0.2s
      line-height: 1.6em
      margin-right: 5px
    .tag-list-count
      display: inline
      padding: .2em .6em .3em
      font-size: 75%
      font-weight: 700
      line-height: 1
      color: #fff
      text-align: center
      white-space: nowrap
      vertical-align: baseline
      border-radius: .25em
      background-color: #428bca

.archives
  clearfix()

.archive-year-wrap
  margin-bottom: 1em

.archive-year
  @extend $block-caption

.archives
  column-gap: 10px
  @media mq-tablet
    column-count: 2
  @media mq-normal
    column-count: 3

.archive-article
  avoid-column-break()

.archive-article-inner
  @extend $block
  padding: 10px
  margin-bottom: 15px

.archive-article-title
  text-decoration: none
  font-weight: bold
  color: color-default
  transition: color 0.2s
  line-height: line-height
  &:hover
    color: color-link

.archive-article-footer
  margin-top: 1em

.archive-article-date
  color: color-grey
  text-decoration: none
  font-size: 0.85em
  line-height: 1em
  margin-bottom: 0.5em
  display: block

#page-nav
  clearfix()
  margin: block-margin auto
  background: #fff
  text-align: center
  color: color-grey
  overflow: hidden
  a, span
    padding: 10px 20px
    font-size: 18px
  a
    font-size:20px
    color: color-grey
    text-decoration: none
  .next:before
    font-family: FontAwesome
    content: "\f105"
  .prev:before
    font-family: FontAwesome
    content: "\f104"
  .page-number
    display: none
    @media mq-mobile
      display: none
  .current
    color: color-default
    font-weight: bold
  .space
    color: color-border
